.conteiner {
    max-width: 1170px;
    margin: 0 auto;
}

.leftpanel {
    position: fixed;
    height: 100vh;
    background-color: #bababa;
    a {
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        text-align: center;
        img {
            width: 80px;
        }
    }

}

.rightpanel {
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: #bababa;
    right: 0;
    a {
        position: relative;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        text-align: center;
            &::after {
                content: '0';
                position: absolute;
                top: 20px;
                right: 10px;
                width: 34px;
                height: 34px;
                line-height: 34px;
                border-radius: 50%;
                background-color: #e9e9e9;
            }
        
    }
}

.nav {
    height: 100px;
    background-color: #58bdab;
    ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            position: relative;
            height: 100%;
            a {
                display: flex;
                align-items: center;
                height: 100%;
                color: #374046;
                font-family: Ubuntu;
                font-size: 16px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                text-transform: uppercase;
                padding: 0 25px;
                text-decoration: none;
                &:hover {
                    color: #e9e9e9;
                }
            }
            &:after {
                content: ''; 
                position: absolute; 
                left: 0; 
                bottom: 0; 
                width: 0px; 
                height: 7px; 
                background: rgb(255, 255, 255); 
                transition: all 0.45s;
            }
            &:hover::after {
                 width: 100%;
            }
        }
    }
}

.slider {
    margin: 10px 110px;
    
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../img/slider.jpg) center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 943px;
        background-color: rgba(255, 255, 255, 0.8);
        .title {
            color: #333333;
            font-family: Ubuntu;
            font-size: 115px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
        }
        .subtitle {
            color: #2b414e;
            font-family: Ubuntu;
            font-size: 36px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;

        }
    }
    &__other {
        min-height: 350px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;

        .children { 
            background: url('../img/slider_1.jpg');
        }
        .education {
            background: url('../img/slider_2.jpg');
        }
        .business {
            background: url('../img/slider_3.jpg');
        }
        .post {
            width: 100%;
            background: cover;
            color: #2b414e;
            font-family: Ubuntu;
            font-size: 35px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            transform: scale(1);
            transition: .3s ease-in-out;
            &:hover {
	            transform: scale(1.07);  
                cursor: pointer;
                z-index: 100;
                border-radius: 4%;
            }
        }
        .publishing {
            color: #2b414e;
            font-family: Ubuntu;
            font-size: 13px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
        }
    }
}


.books {
    .conteiner {
        position: relative;
    }

    &__menu {
        position: relative;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(60, 60, 60, 0.1);
        .list {
            display: flex;
            height: 100%;
            
            li{
                position: relative;
                padding: 30px 0;
                a {
                    color: #374046;
                    font-family: Ubuntu;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 30px 25px;
                    text-decoration: none;
                    &:hover {
                        color: #58bdab;
                    }
                    
                }
                &:after {
                    content: ''; 
                    position: absolute; 
                    left: 0; 
                    bottom: 0; 
                    width: 0px; 
                    height: 7px; 
                    background: #58bdab;
                    transition: all 0.45s;
                }
                &:hover::after {
                     width: 100%;
                }
            }
            
        }
    }
    &__carusel {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        ul {
            height: 100%;
            display: flex;
            align-items: center;
            .active {
                    background-color: #58bdab;
                }
            li {
                
                width: 13px;
                height: 13px;
                background-color: #333;
                text-align: center;
                border-radius: 50%;
                margin: 0 8px;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    background-color: #58bdab;
                }

                
            }
        }
    }
    &__cards {
        position: relative;
        display: flex;
        margin-top: 40px;
        margin-bottom: 60px;
        gap: 30px;
        a {
            text-decoration: none;
        }
    }
}

.card {
    position: relative;
    max-width: 270px;
    background-color: white;
    transition: 0.5s;
    &__photo {
        position: relative;
        padding: 10px 22px;
        border: 1px solid #e5e5e5;
        .new {
            color: #333;
            left: 20px;
            width: 47px;
            height: 26px;
            background-color: #ffffff;
        }
        .sale {
            color: #fff;
            left: 20px;
            top: 40px;
            width: 47px;
            height: 26px;
            background-color: #58bdab;
        }
        .discount {
            color: #ffffff;
            right: 5px;
            border-radius: 50%;
            width: 41px;
            height: 41px;
            background-color: #58bdab;
        }
        span {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-family: Ubuntu;
            font-size: 13px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
        }
        .mainphoto {
            width: 100%;
            img {
                width: 100%;
                
            }
        }
        .subphoto {
            position: absolute;
            bottom: 10px;
            left: 5px;
            width: 260px;
            height: 100px;
            display: none;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: rgba(55, 64, 70, 0.9);
            img {
                width: 56px;
                height: 81px;
            }
        }
    }
    &__name {
        color: #888888;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        margin-top: 25px;
    }
    &__price {
        color: #374046;
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        margin-top: 9px;
    }
    &__rating {
        color: #58bdab;
        font-family: "Material -design";
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    &__cart {   
        display: none;
        justify-content: center;
        align-items: center;
        width: 204px;
        height: 65px;
        color: #ffffff;
        font-family: Ubuntu;
        background-color: #58bdab;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 23px;
        img {
            margin-right: 13px;
        }
    }
    &__other {
        color: #888888;
        height: 17px;
        display: none;
        justify-content: center;
        gap: 30px;
        margin-bottom: 30px;
        div {
            &:hover {
                color: #58bdab;
            }
        }
    }
    &:hover {
        transition: 0.5s;
        .card {

            &__photo {
                border: none;
            span {
                display: flex;
            }
            .subphoto {
                display: flex;
            }
            }
            &__cart {
                display: flex;
            }
            &__other {
                display: flex;
            }
        }
        z-index: 10;
        transform: scale(1.25);
        border: 1px solid #e5e5e5;
    }
}

.deal {
    min-height: 670px;
    text-align: center;
    background: url(../img/shop_bg.jpg) center center;  
    background-color: rgba(255, 255, 255, 0.9);
    background-size: 100% 100%;
    margin: 60px 110px 10px 110px;
    color: #ffffff;
    font-family: Ubuntu;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    &__title {
        font-size: 75px;
        font-weight: 700;
        padding-top: 205px;
    }
    &__subtitle {
        font-size: 36px;
        letter-spacing: 14.4px;
        margin-top: 40px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 264px;
        height: 81px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 38px;
        font-size: 35px;
    }
}